<h2><%= @message %></h2>

<div class="input">
  <form action="/login" method="post">
   <div class="inputs">
     <input type="text" name="username" placeholder="Username">
     <input type="password" name="password" placeholder="Password">
   </div>
   <button type="submit">Log in</button>
   <a href="/register/p"><button type="button">Register</button></a>
  </form>
</div>