<div class="input">
  <form action="/login" method="post">
   <div class="inputs">
     <input type="text" name="username" placeholder="Username">
     <input type="password" name="password" placeholder="Password">
   </div>
   <button type="submit">Login</button>
   <a href="/register"><button type="button">Register</button></a>
  </form>
</div>