<h2><%= @message %></h2>

<form action="/register_account" method="post">
  <div class="input">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
  </div>
  <div class="wide_button"><button id="register" type="submit">Register</button></div>
</form>