<% for milestone in @milestone %>
    <h1><%= milestone.name %></h1>
    <p><%= milestone.description %></p>

    <form class="input" action="/add/<%= milestone.id %>" method="post">
      <select name="klass">
        <option value="1">Class 1</option>
        <option value="2">Class 2</option>
        <option value="3">Class 3</option>
        <option value="4">Class 4</option>
      </select>
      <br>
      <br>
      <div class="wide_button"><button>Add this to my milestones</button></div>
    </form>

<% end %>