<div class="input">
  <form action="/create_the_milestone" method="post">
    <div class="inputs">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
    </div>
    <div class="wide_button"><button type="submit">Create milestone</button></div>
  </form>
</div>
