html, body {
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

header li {
    display: inline;
}

header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: white;
    color: black;
}

#content_container {
    background-color: dimgray;
}

#content_container > div {
    margin: auto;
    width: 57%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 1%;
    background-color: white;
    border-top: none;
}

#content_container > div table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#content_container > div th, td {
    padding: 0.5%;
}

#content_container > div th {
    color: white;
    background-color: black;
    border-color: white;
    borde
}

#content_container > div #milestone {
    width: 30%;
}

#content_container > div a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

#content_container > div .input {
    width: 96%;
    margin: auto;
    padding: 0;
    display: inline;
    float: top;
}

#content_container > div .input input {
    width: 99.5%;
    padding: 15px 0;
    font-size: 16px;
    background-color: lightgrey;
    border: none;
    border-bottom: solid;
    text-align: center;
    margin-bottom: 1%;
}

#content_container > div .input input:focus {
    background-color: white;
}

#content_container > div .input button {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    margin: 0;
    width: 49.5%;
    display: inline;
}

#content_container > div .input button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

#content_container > div #log_out button {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    margin: 0;
    width: 100%;
    display: inline;
}

#content_container > div #log_out button:hover {
    background-color: white;
    color: black;
}

#content_container > div .wide_button button {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    margin: 0;
    width: 99.5%;
    display: inline;
}

#content_container > div .wide_button button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

#content_container > div #milestone_list {
    border: none black 2px;
    width: 99%;
    padding: 10px 0;
}


footer {
    background-color: dimgray;
}

footer > div {
    margin: auto;
    padding: 1%;
    width: 57%;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-top: none;
}

@media (max-width: 600px) {

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: black;
        text-align: center;
    }

    header li {
        display: block;
    }

    header li a {
        border-top-style: dashed;
        border-top-width: 3px;
        border-top-color: white;
        width: 90%;
        color: white;
    }

    #content_container > div {
        width: 98%;
        border: none;
        padding: 1%;
    }

    #content_container > div .input button {
        width: 49%;
    }


    footer {
        width: 98%;
        border: none;
        padding: none;
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 3px;
    }

    footer > div {
        padding: 1%;
        width: 100%;
        border: none;
    }

}