header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    text-align: center;
}

header li {
    display: inline;
}

header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: black;
}

#content_container {
    background-color: darkgray;
}

#content_container > div {
    margin: auto;
    width: 57%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    background-color: yellow;
}