<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GameTime</title>
  <link rel="stylesheet" href="/css/site_css.css" type="text/css" />
</head>
<body>

<header>
  <ul>

    <li><a href="/">Homepage</a></li>
    <li><a href="/milestones/list">Milestones</a></li>
    <li><a href="/account/p"><%= @account %></a></li>

  </ul>
</header>

<div id="content_container">
  <div>
    <%= yield %>
  </div>
</div>

<footer>
  <div>
    <h1>Information about the company:</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto beatae dolores, excepturi, expedita id laboriosam libero maiores modi natus numquam quas quasi repudiandae sed temporibus ullam ut veniam voluptatum?</span><span>Cupiditate dolor dolorum, fugiat harum hic id illum minima natus officiis, quas quo quod repellendus saepe sunt voluptates! Aliquam architecto at deleniti dolores, illo obcaecati quis. Ipsa magnam numquam veniam!</span><span>Dolore ducimus fuga ipsa iure iusto labore laborum modi necessitatibus neque nisi placeat quia quibusdam reiciendis ut, voluptatibus. Atque ea facere facilis laboriosam quos sed similique sunt tempore velit voluptatem.</span></p>
  </div>
</footer>

</body>
</html>